*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    padding: 2em;
    text-align: center;
}

.slider{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 1080px;
    height: 600px;
    border-radius: 10px;
}

.left{
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 10;
    cursor: pointer;
    font-size: 3rem;
}
.right{
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    font-size: 3rem;
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}
